
.container {
  margin: 3rem 0 1rem;
  max-width: 600px;
  text-align: center;
}

.formControl {
  min-width: 100% !important; 
}

.label,
.select {
  color: #2ec72e !important;
}

.select:before {
  border-bottom: 1px solid #2ec72e !important;
}

.select > svg {
  color: #2ec72e !important;
}