body {
    background-color: #131313;
    margin-top: 20px;
}

.logo {
    width: 125px
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.siteTitle {
    text-align: center;
    font-size: 5rem;
}


.footer {
    margin-bottom: 2rem !important;
    color: white
}

@media (max-width: 700px) {
    .covidImg {
        height: 150px;
    }
}

@media (min-width: 700px) {
    .covidImg {
        height: 200px;
    }
}

@media (max-width: 500px) {
    .siteTitle {
        /* Must use `!important` here to override Material UI */
        font-size: 75px !important;
    }
}